.container {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1680px) {
    .container {
        width: 1680px;
        padding-left: 16px;
        padding-right: 16px;
    }
}